@use "_typography" as fonts;
@use "_colors" as colors;

:root {
    // Font
    font-family: fonts.$font-fam;
    font-size: fonts.$body-medium;
    font-weight: fonts.$regular;
}

body {
    margin: 0;
    background-color: colors.$off-white;
}