@use "_typography" as fonts;
@use "_colors" as colors;

.grid__card {
    text-align: center;

    margin-top: 2rem;

    &-header {
        font-size: fonts.$header-large;
        color: colors.$dark-purple;
    }

    &-paragraph {
        line-height: fonts.$paragraph-line-height;
        color: colors.$gray
    }

    @media screen and (min-width: 700px) {
        grid-area: 1 / 2 / 2 / 3;

        text-align: left;

        max-width: 45ch;

        margin-left: 3rem;
    }
}