// Background colors
$white: #FFFFFF;
$purple-white: #f5f3f7;
$off-white: #FAFAFA;
$off-purple: #EEE5F4;
$pink: #E472FF;

// Text colors
$dark-purple: #3E2753;
$brighter-purple: #D99EFF;
$bright-purple: #9341C8;
$gray-purple: #6E5D7E;
$gray: #A39DA9;
$off-blue: #C5C9CC;

// Gradients
$purple-gradient: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);