@use "_colors" as colors;
@use "_variables" as var;
@use "_typography" as fonts;

// Grid hero container 
.grid__hero {
    display: grid;
    grid-template: repeat(3, auto) / 1fr;

    background-color: colors.$white;

    border-radius: 2rem;

    padding: 0.5rem;

    width: var.$hero-width;
    max-width: var.$hero-width;

    box-shadow: 0px 30px 60px -10px rgba(62, 39, 83, 0.25);

    &-white {
        background-color: colors.$white;
        grid-area: 1 / 1 / 3 / 2;
        justify-self: center;

        height: 1.25rem;
        width: 50%;

        border-radius: 0 0 1rem 1rem;

        z-index: 999;
    }

    // Grid hero contents
    &-contents {
        background-color: colors.$purple-white;
        grid-area: 1 / 1 / 4 / 2;

        border-radius: 2rem;

        padding: 0.1rem;
    }

    // Contact Information
    &-contact {
        display: grid;
        grid-template: repeat(3, auto) / repeat(3, max-content) auto;

        background-image: colors.$purple-gradient;

        border-radius: 2rem 2rem 0.5rem 0.5rem;

        padding: 2rem 1rem 0.75rem 1rem;

        &-previous {
            grid-area: 2 / 1 / 4 / 2;
            align-self: center;

            color: colors.$white;

            &--top {
                width: var.$chevon-avatar-width;
                height: var.$chevron-avatar-height;

                display: block;

                background-color: colors.$white;

                transform: rotate(25deg);

                position: relative;
                top: var.$chevron-top-top;

                border-radius: 1rem;
            }

            &--bottom {
                width: var.$chevon-avatar-width;
                height: var.$chevron-avatar-height;

                display: block;

                background-color: colors.$white;

                transform: rotate(155deg);

                position: relative;
                top: var.$chevron-bottom-top;

                border-radius: 1rem;
            }
        }

        &-avatar {
            grid-area: 2 / 2 / 4 / 3;
            align-self: center;
            
            width: var.$avatar-size;

            margin: 0 0.5rem;

            border-radius: 100%;
            border-style: solid;
            border-width: var.$border-width;
            border-color: colors.$white;
        }

        &-name {
            grid-area: 2 / 3 / 3 / 4;
            align-self: start;

            margin: 0;

            font-size: fonts.$hero-large;
            color: colors.$white;
        }

        &-status {
            grid-area: 3 / 3 / 4 / 4;
            align-self: start;

            margin: 0;

            font-size: fonts.$hero-small;
            color: colors.$brighter-purple;
        }

        &-options {
            grid-area: 2 / 4 / 4 / 5;
            align-self: center;
            justify-self: end;

            &-circle { 
                display: block;

                width: 0.2rem;

                height: 0.2rem;

                margin-bottom: 0.05rem;
    
                border-radius: 100%;
    
                background-color: colors.$white;
            }
        }
    }

    &-chat {
        display: grid;

        padding: 0.5rem;
        margin: 0.5rem 0 0.25rem 0;

        &--incoming {
            justify-self: start;

            background-color: colors.$off-purple;

            border-radius: 0.5rem 0.5rem 0.5rem 0.25rem;

            color: colors.$bright-purple;
            font-size: fonts.$hero-small;

            max-width: 22ch;

            padding: 0.5rem;
            margin: 0 0 0.5rem 0;
        }

        &--outgoing {
            justify-self: end;

            background-color: colors.$white;

            border-radius: 0.5rem 0.5rem 0.25rem 0.5rem;

            box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);

            color: colors.$gray-purple;
            font-size: fonts.$hero-small;

            max-width: 22ch;

            padding: 0.5rem;
            margin: 0 0 0.5rem 0;
        }

        &--images {
            display: flex;
            justify-self: end;
            justify-items: flex-end;

            margin: 0.5rem 0;
            padding: 0;
        }

        &-image {
            border-radius: 0.5rem;

            max-width: var.$img-width;

            margin: 0 0 0 0.5rem;
        }
    }

    &-walk {
        display: grid;
        grid-template: 1fr / max-content 1fr max-content;

        background-image: colors.$walk-gradient;

        border-radius: 0.5rem 0.5rem 0.5rem 0.25rem;

        padding: 0.5rem;
        margin: 0 0 0.5rem 0;

        max-width: 13ch;

        &-circle {
            align-self: center;

            width: 0.5rem;
            height: 0.5rem;

            border-radius: 100%;
            border-style: solid;
            border-width: var.$border-width;
            border-color: colors.$pink;
        }
        &-time {
            align-self: center;

            font-size: fonts.$hero-small;
            color: colors.$white;

            margin: 0 0.5rem;
            padding-top: 0.1rem;
        }

        &-price {
            align-self: center;

            font-size: fonts.$hero-xl;
            font-weight: fonts.$bold;
            color: colors.$white;

            margin: 0 0.5rem 0 1rem;
        }
    }

    &-input {
        display: grid;
        grid-template: auto / repeat(2, 1fr);

        background-color: colors.$white;

        border-radius: 2rem;

        font-size: fonts.$hero-medium;
        color: colors.$off-blue;

        margin: 0.5rem 0 0 0;

        padding: 0.25rem;

        &-text {
            align-self: center;
            
            margin: 0 0 0 0.5rem;
        }

        &-send {
            display: grid;
            justify-content: center;

            align-self: center;
            justify-self: end;

            background-color: colors.$dark-purple;

            width: var.$avatar-size;
            height: var.$avatar-size;

            border-radius: 100%;

            &--top {
                width: var.$chevon-send-width;
                height: var.$chevron-send-height;

                display: block;

                background-color: colors.$white;

                transform: rotate(315deg);
                
                position: relative;
                top: var.$chevron-send-top-top;

                border-radius: 1rem;
            }

            &--bottom {
                width: var.$chevon-send-width;
                height: var.$chevron-send-height;

                display: block;

                background-color: colors.$white;

                transform: rotate(225deg);

                position: relative;
                top: var.$chevron-send-bottom-top;

                border-radius: 1rem;
            }
        }
    }

    @media screen and (min-width: 700px) {
        grid-area: 1 / 1 / 2 / 2;
    }
}